@charset "UTF-8";
.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 10;
}
.header .header__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__contents .header__logo {
  padding-left: 39px;
}
@media screen and (max-width: 950px) {
  .header .header__contents .header__logo {
    padding-left: 20px;
  }
}
.header .header__contents .header__logo a {
  color: #505050;
  transition: 0.3s;
}
.header .header__contents .header__logo a:hover {
  opacity: 0.7;
}
.header .header__contents .header__logo::before {
  content: url(../img/paw1.png);
  vertical-align: middle;
  padding: 10px;
}
@media screen and (max-width: 950px) {
  .header .header__contents .header__nav {
    display: none;
  }
}
.header .header__contents .header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.header .header__contents .header__nav-list .header__nav-item {
  margin-left: 10px;
}
.header .header__contents .header__nav-list .header__nav-item a {
  color: #505050;
  font-size: 14px;
  transition: 0.3s;
}
.header .header__contents .header__nav-list .header__nav-item a:hover {
  opacity: 0.7;
}

.footer {
  background: #505050;
  padding: 66px 0 70px 0;
  color: #FFFFFF;
}
@media screen and (max-width: 950px) {
  .footer {
    padding: 45px 0 50px 0;
  }
}
.footer .footer__nav-list {
  width: 76.7708333333%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 21px;
  border-bottom: 1px solid #FFFFFF;
}
@media screen and (max-width: 950px) {
  .footer .footer__nav-list {
    width: 100%;
    flex-wrap: wrap;
  }
}
.footer .footer__nav-list .footer__nav-item + .footer__nav-item {
  margin-left: 14px;
}
@media screen and (max-width: 950px) {
  .footer .footer__nav-list .footer__nav-item + .footer__nav-item {
    margin-left: 20px;
  }
}
.footer .footer__nav-list .footer__nav-item a {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}
@media screen and (max-width: 950px) {
  .footer .footer__nav-list .footer__nav-item a {
    font-size: 18px;
  }
}
.footer .footer__nav-list .footer__nav-item a:hover {
  opacity: 0.7;
}
.footer .footer__small {
  margin-top: 27px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 950px) {
  .footer .footer__small {
    margin-top: 15px;
    font-size: 16px;
  }
}
.footer .footer__sns-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
@media screen and (max-width: 950px) {
  .footer .footer__sns-list {
    margin-top: 28px;
  }
}
.footer .footer__sns-list .footer__sns-item + .footer__sns-item {
  margin-left: 11px;
}
.footer .footer__sns-list .footer__sns-item a {
  transition: 0.3s;
}
.footer .footer__sns-list .footer__sns-item a:hover {
  opacity: 0.7;
}

.main-visual {
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.main-visual .main-visual__img-box {
  width: 100%;
  height: calc(100vh - 50px);
}
.main-visual .main-visual__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 950px) {
  .main-visual .main-visual__img-box img {
    -o-object-position: top;
       object-position: top;
  }
}
.main-visual .main-visual__text {
  position: absolute;
  top: 30%;
  left: 0;
  width: 45.5555555556%;
  padding: 23px 0;
  font-size: 40px;
  font-weight: bold;
  color: #0D96A0;
  line-height: 1.5;
  background: rgba(255, 255, 255, 0.702);
}
@media screen and (max-width: 950px) {
  .main-visual .main-visual__text {
    top: auto;
    bottom: 0;
    width: 82.9333333333%;
    font-size: 30px;
    padding: 18px 0 14px 0;
  }
}
.main-visual .main-visual__text span {
  font-size: 23px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  color: #505050;
}
@media screen and (max-width: 950px) {
  .main-visual .main-visual__text span {
    font-size: 20px;
  }
}

.greetings {
  padding: 60px;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .greetings {
    padding: 49px 20px 39px 20px;
  }
}
.greetings .greetings__title {
  color: #0D96A0;
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 950px) {
  .greetings .greetings__title {
    font-size: 25px;
  }
}
.greetings .greetings__text {
  margin-top: 15px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .greetings .greetings__text {
    text-align: left;
    font-size: 16px;
  }
}
@media screen and (max-width: 950px) {
  .greetings .greetings__text {
    margin-top: 17px;
  }
}
.greetings .greetings__text::after {
  content: url(../img/paw2.svg);
  width: 84px;
  height: 77px;
  position: absolute;
  top: 47px;
  right: 26px;
}
@media screen and (max-width: 950px) {
  .greetings .greetings__text::after {
    width: 68px;
    height: 63px;
    top: auto;
    right: 8px;
    bottom: 8px;
  }
}

.advantage {
  background: rgba(13, 150, 160, 0.102);
  padding: 64px 0 68px 0;
}
@media screen and (max-width: 950px) {
  .advantage {
    padding: 51px 0 36px 0;
  }
}
.advantage .advantage__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 48px;
  justify-content: center;
  gap: 45px;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item {
    flex-direction: column;
    margin-top: 42px;
    gap: 0;
  }
}
.advantage .advantage__item .advantage__img-box {
  width: 440px;
  height: 247px;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item .advantage__img-box {
    width: 100%;
    height: auto;
  }
}
.advantage .advantage__item .advantage__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantage .advantage__item .advantage__text-box {
  width: 440px;
}
.advantage .advantage__item .advantage__text-box .advantage__title {
  font-size: 22px;
  font-weight: bold;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item .advantage__text-box .advantage__title {
    font-size: 20px;
    text-align: center;
    margin-top: 26px;
  }
}
.advantage .advantage__item .advantage__text-box .advantage__text {
  margin-top: 19px;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item .advantage__text-box .advantage__text {
    margin-top: 8px;
  }
}
.advantage .advantage__item:nth-of-type(odd) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item:nth-of-type(odd) {
    flex-direction: column;
  }
}
.advantage .advantage__item:nth-of-type(odd) .advantage__text-box {
  padding-left: 34px;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item:nth-of-type(odd) .advantage__text-box {
    padding-left: 0;
  }
}
.advantage .advantage__item:nth-of-type(even) .advantage__text-box {
  padding-right: 34px;
}
.advantage .advantage__item + .advantage__item {
  margin-top: 50px;
}
@media screen and (max-width: 950px) {
  .advantage .advantage__item + .advantage__item {
    margin-top: 42px;
  }
}

.service {
  padding: 63px 0 59px 0;
}
@media screen and (max-width: 950px) {
  .service {
    padding: 45px 0 39px 0;
  }
}
.service .service__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 48px;
}
@media screen and (max-width: 950px) {
  .service .service__list {
    flex-direction: column;
    gap: 0;
    margin-top: 44px;
  }
}
.service .service__list .service__item {
  width: 260px;
}
@media screen and (max-width: 950px) {
  .service .service__list .service__item {
    width: 100%;
  }
}
.service .service__list .service__item .service__img-box {
  width: 100%;
}
.service .service__list .service__item .service__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service .service__list .service__item .service__title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 19px;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .service .service__list .service__item .service__title {
    margin-top: 30px;
  }
}
.service .service__list .service__item .service__text {
  font-size: 17px;
  margin-top: 8px;
}
@media screen and (max-width: 950px) {
  .service .service__list .service__item .service__text {
    font-size: 16px;
    margin-top: 7px;
  }
}
@media screen and (max-width: 950px) {
  .service .service__list .service__item + .service__item {
    margin-top: 39px;
  }
}

.info {
  background: rgba(13, 150, 160, 0.102);
  padding: 63px 0 68px 0;
}
@media screen and (max-width: 950px) {
  .info {
    padding: 43px 0 50px 0;
  }
}

.info .section-title {
  margin-bottom: 46px;
}

.info__article {
  width: 91.5625%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 15% 24% 61%;
  padding: 15px 0;
  border-top: 1px solid #707070;
}
@media screen and (max-width: 950px) {
  .info__article {
    display: block;
    padding: 28px 0;
  }
}

.info__article:last-child {
  border-bottom: 1px solid #707070;
}

.info__time {
  grid-column: 1/2;
  font-size: 17px;
  font-weight: bold;
  padding-left: 18px;
}
@media screen and (max-width: 950px) {
  .info__time {
    padding-left: 0;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.info__title {
  grid-column: 2/3;
  font-size: 20px;
  font-weight: bold;
  color: #0D96A0;
  padding-left: 25px;
}
@media screen and (max-width: 950px) {
  .info__title {
    padding-left: 0;
    margin-top: 2px;
  }
}

.info__text {
  grid-column: 3/4;
  font-size: 17px;
}
@media screen and (max-width: 950px) {
  .info__text {
    font-size: 16px;
    margin-top: 6px;
  }
}
.info__text a {
  color: #505050;
  transition: 0.3s;
}
.info__text a:hover {
  opacity: 0.7;
}

.access {
  padding: 63px 0 59px 0;
}
@media screen and (max-width: 950px) {
  .access {
    padding: 43px 0 50px 0;
  }
}

.access__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 46px;
}
@media screen and (max-width: 950px) {
  .access__content {
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .access__map {
    width: 100%;
    height: 222px;
    margin-top: 46px;
  }
}

.access__content-box {
  margin-left: 46px;
}
@media screen and (max-width: 950px) {
  .access__content-box {
    margin-left: 0;
  }
}

.access__titlle {
  font-size: 22px;
  font-weight: bold;
}
@media screen and (max-width: 950px) {
  .access__titlle {
    margin-top: 30px;
  }
}

.access__address {
  margin-top: 15px;
}
@media screen and (max-width: 950px) {
  .access__address {
    margin-top: 12px;
  }
}

.access__list {
  display: flex;
  align-items: baseline;
}
.access__list:nth-child(1) {
  margin-top: 14px;
}
@media screen and (max-width: 950px) {
  .access__list:nth-child(1) {
    margin-top: 6px;
  }
}
.access__list:nth-child(2) {
  margin-top: 8px;
  padding-bottom: 27px;
  border-bottom: 1px solid #707070;
}
@media screen and (max-width: 950px) {
  .access__list:nth-child(2) {
    margin-top: 7px;
    padding-bottom: 14px;
  }
}
.access__list:nth-child(2) a {
  color: #505050;
  transition: 0.3s;
}
.access__list:nth-child(2) a:hover {
  opacity: 0.7;
}
.access__list:nth-child(3) {
  margin-top: 15px;
}
@media screen and (max-width: 950px) {
  .access__list:nth-child(3) {
    margin-top: 12px;
  }
}
.access__list:nth-child(4) {
  margin-top: 4px;
  padding-bottom: 14px;
  border-bottom: 1px solid #707070;
}
@media screen and (max-width: 950px) {
  .access__list:nth-child(4) {
    padding-bottom: 12px;
    margin-top: 0;
  }
}

.blue {
  font-size: 25px;
  color: #0D96A0;
  vertical-align: top;
}

.contact {
  padding: 62px 0 80px 0;
  background: rgba(13, 150, 160, 0.102);
}
@media screen and (max-width: 950px) {
  .contact {
    padding: 43px 0 50px 0;
  }
}

.contact__text {
  margin-top: 25px;
  text-align: center;
  font-size: 17px;
}
@media screen and (max-width: 950px) {
  .contact__text {
    margin-top: 43px;
    font-size: 16px;
  }
}

.contact__item {
  margin-top: 30px;
}
@media screen and (max-width: 950px) {
  .contact__item {
    margin-top: 17px;
  }
}
.contact__item:first-child {
  margin-top: 39px;
}
@media screen and (max-width: 950px) {
  .contact__item:first-child {
    margin-top: 34px;
  }
}

.contact__label {
  display: grid;
  grid-template-columns: 15% 75%;
  gap: 29px;
  vertical-align: top;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 950px) {
  .contact__label {
    display: block;
    gap: 0;
    font-size: 18px;
  }
}

.form-text {
  border: none;
  grid-column: 2/3;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}
@media screen and (max-width: 950px) {
  .form-text {
    width: 100%;
    margin-top: 2px;
  }
}

.textarea {
  height: 300px;
  resize: none;
}

.contact__btn {
  width: 200px;
  height: 50px;
  background: #0D96A0;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  display: block;
  margin-inline: auto;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 950px) {
  .contact__btn {
    width: 100%;
    height: 41px;
    font-size: 20px;
  }
}
.contact__btn:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  padding-inline: 60px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .inner {
    padding-inline: 20px;
  }
}

.section-title {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.section-title::before {
  content: url(../img/paw1.png);
  padding-right: 20px;
}
.section-title::after {
  content: url(../img/paw1.png);
  padding-left: 20px;
}

.img-sp {
  display: none;
}
@media screen and (max-width: 950px) {
  .img-sp {
    display: block;
  }
}

@media screen and (max-width: 950px) {
  .img-pc {
    display: none;
  }
}

.br-sp {
  display: none;
}
@media screen and (max-width: 950px) {
  .br-sp {
    display: block;
  }
}

body {
  font-size: 16px;
  color: #505050;
  line-height: 1.8;
}
@media screen and (max-width: 950px) {
  body {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */