@use "../global/forward" as*;

.footer {
	background: $text-color;
	padding: 66px 0 70px 0;
	color: $main-color;

	@include mq(md) {
		padding: 45px 0 50px 0;
	}

	.footer__nav-list {
		width: calc(737 / 960 * 100%);
		margin-inline: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 21px;
		border-bottom: 1px solid $main-color;

		@include mq(md) {
			width: 100%;
			flex-wrap: wrap;
		}

		.footer__nav-item + .footer__nav-item {
			margin-left: 14px;

			@include mq(md) {
				margin-left: 20px;
			}
		}

		.footer__nav-item a {
			color: $main-color;
			font-size: 20px;
			font-weight: bold;
			transition: .3s;

			@include mq(md) {
				font-size: 18px;
			}

			&:hover {
				opacity: 0.7;
			}
		}
	}

	.footer__small {
		margin-top: 27px;
		text-align: center;
		font-weight: bold;
		font-size: 20px;

		@include mq(md) {
			margin-top: 15px;
			font-size: 16px;
		}
	}

	.footer__sns-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 8px;

		@include mq(md) {
			margin-top: 28px;
		}

		.footer__sns-item + .footer__sns-item {
			margin-left: 11px;
		}

		.footer__sns-item a {
			transition: .3s;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}