@use "../global/forward" as*;

.inner {
  width: 100%;
  height: 100%;
  max-width: 960px;
  padding-inline: 40px;
  margin-inline: auto;
  text-align: center;

	@include mq(lg) {
		padding-inline: 20px;
	}
}